<div class="post-box">
  <div class="page-box">
    <img class="background-img" src="/assets/images/sun.svg" alt="" loading='lazy'
    data-echo="{{ site.data.mediaURL.jemek[0] }}">
    
    <img class="icon-img" src="/assets/images/sun.gif" alt="*" loading='lazy' 
    data-echo="{{ site.data.mediaURL.jemek[1] }}" 
    style="top:0%;left:0%;width:100%;">
    
    <a href="https://jemekjemowit.bandcamp.com/album/das-satanische-album" target="_blank" rel="noopner">
      <img class="icon-img hue" src="/assets/images/sun.gif" alt="Das satanische album" loading='lazy' 
      data-echo='{{ site.data.mediaURL.jemek[2] }}' 
      style="top:3%;left:2%;width:37%;"></a>
    
    <a href="https://en.wikipedia.org/wiki/Catharism" target="_blank" rel="noopner">
      <img class="icon-img multiply" src="/assets/images/sun.gif" alt="X" loading='lazy'
      data-echo="{{ site.data.mediaURL.jemek[3] }}" 
      style="top:20%;left:45%;width:18%;"></a>

    <a href="https://youtu.be/Rccctg_I37E" target="_blank" rel="noopner">
      <img class="icon-img multiply" src="/assets/images/sun.gif" alt="MV" loading='lazy'
      data-echo="{{ site.data.mediaURL.jemek[4] }}" 
      style="top:10%;left:67%;width:30%;"></a>
  </div>
</div>
