<div class="post-box">
  <div class="page-box">
    <img class="background-img" src="/assets/images/sun.svg" alt="" loading='lazy'
    data-echo="{{ site.data.mediaURL.no_3[0] }}">

    <a href="https://en.wikipedia.org/wiki/The_Man_Who_Was_Thursday" target="_blank" rel="noopner">
      <img class="icon-img darken" src="/assets/images/sun.gif" alt="Door" loading='lazy' 
      data-echo="{{ site.data.mediaURL.no_3[1] }}" 
      style="top:0%;left:22%;width:60.3%;"></a>
    
    <a href="https://en.wikipedia.org/wiki/Golan_Heights" target="_blank" rel="noopner">
      <img class="icon-img darken" src="/assets/images/sun.gif" alt="Dice" loading='lazy' 
      data-echo="{{ site.data.mediaURL.no_3[2] }}" 
      style="top:2%;left:78%;width:22%;"></a>

      <img class="icon-img darken" src="/assets/images/sun.gif" alt="hand" loading='lazy' 
      data-echo="{{ site.data.mediaURL.no_3[3] }}" 
      style="top:65%;left:3%;width:20%;">
  </div>
</div>
