<div class="post-box">
  <div class="page-box">
    <img class="background-img" src="/assets/images/sun.svg" alt="" loading='lazy'
    data-echo="/assets/images/fp_no5_01.gif">
    <a href="https://en.wikipedia.org/w/index.php?title=Siddhartha_(novel)&oldid=1023184675" target="_blank" rel="noopner">
      <img class="icon-img hover-uv-light-red" src="/assets/images/sun.svg" alt="" loading='lazy'
      data-echo='/assets/images/blank_box_75x116.gif' style="top:44%;left:43%;width:12%;">
    </a>
  </div>
</div>
