<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel='shortcut icon' type='image/x-icon' href='/assets/images/eye.ico' />
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
        <meta name="HandheldFriendly" content="True"/>
		<meta name="MobileOptimized" content="320"/>
        <meta name="description" content="FIFTYPERCENT is politic art magazine without information.">
        <meta name="keywords" content="art">
        


</head>
<body>
  {% include navigation.html %}
  
  {{ content }} 
  
  {% include lazyload.html %}
  
  <script src="/assets/js/jquery-3.x-git.slim.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>
